<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2016 Raul Hernandez Lopez
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raulh82vlc.MoviesFinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MoviesFinderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppCompatTheme">

        <activity
            android:name="com.raulh82vlc.MoviesFinder.ui.activities.MoviesListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value="com.raulh82vlc.MoviesFinder.ui.MoviesListActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.MovieDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.raulh82vlc.MoviesFinder.ui.activities.MoviesListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raulh82vlc.MoviesFinder.ui.activities.MoviesListActivity"/>
        </activity>
    </application>

</manifest>
